header {
  background: $header-blue;
  min-height: 100vh;
  .container {
    display: flex;
    align-items: center;
    ul {
      li {
        a {
          color: #ffffff;
        }
      }
    }
  }
}